#hero {
    background: url(../images/bg-2-overlay.jpg);
    background-repeat: no-repeat;
    background-color: #4b494f;
    background-size: cover;
    color: white;
    padding: 150px 0 150px;
}

#about-me {
    padding: 8rem 0 8rem;
    text-align: center;
}

#portfolio {
    padding: 6rem 0 6rem;
    background-color: #eee;
}

#testimonials {
    padding: 6rem 0 6rem;
}

#contact {
    padding: 6rem 0 6rem;
    background-color: #eee;
}

footer {
    padding: 2rem 0 2rem;
    background-color: #4b494f;
    color: #999;
    text-align: center;
}

footer ul {
    margin-bottom: 10px;
}

footer li {
    list-style: none;
    display: inline;
    margin: 0 10px 0 10px;
}

footer li i {
    color: #999;
}

.card {
    border: 1px solid #eee;
    border-radius: 5px;
}

.quote-container {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 15px;
}

.headshot {
    border-radius: 50%;
    border: 6px solid #E75344;
    max-height: 200px;
}

.text-center {
    text-align: center;
}

@media (max-width: 550px) {
    #hero {
        padding: 50px 0 50px;
    }

    .hero-text {
        text-align: center;
    }
}