.container {
    max-width: 1100px;
}

#hero {
    background: url(../images/bg-2-overlay.jpg);
    background-repeat: no-repeat;
    background-color: #4b494f;
    background-size: cover;
    color: white;
    padding: 150px 0 150px;
}

#about-me {
    padding: 8rem 0 8rem;
    text-align: center;
}

#portfolio {
    padding: 6rem 0 6rem;
    background-color: #eee;
}

#testimonials {
    padding: 6rem 0 6rem;
}

#contact {
    padding: 6rem 0 6rem;
    background-color: #eee;
}

#project-info {
    padding: 6rem 0 6rem;
    /*background-color: #eee;*/
}

#project-screenshots {
    padding: 6rem 0 6rem;
    background-color: #eee;
}

header {
    background-color: #4b494f;
    padding: 2rem 0 2rem;
    color: #999;
}

header h5 {
    margin-bottom: 0;
}

header a {
    text-decoration: none;
    color: #999;
}

footer {
    padding: 2rem 0 2rem;
    background-color: #4b494f;
    color: #999;
    text-align: center;
}

footer ul {
    margin-bottom: 10px;
}

footer li {
    list-style: none;
    display: inline;
    margin: 0 10px 0 10px;
}

footer li i {
    color: #999;
}

.card {
    border: 1px solid #eee;
    border-radius: 5px;
}

.quote-container {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 15px;
}

.headshot {
    border-radius: 50%;
    border: 6px solid #E75344;
    max-height: 200px;
}

.headshot-mini {
    border-radius: 50%;
    border: 1px solid #E75344;
    max-height: 80px;
}

.text-center {
    text-align: center;
}

@media (max-width: 550px) {
    #hero {
        padding: 50px 0 50px;
    }

    .hero-text {
        text-align: center;
    }
}


/* Portfolio Images/Hover  */

.project-thumbnail {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.overlay {
    display: inline-block;
    opacity: 0;
    text-align: center;
    padding: 12px;
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    transition: all .3s ease .15s;
    -moz-transition: opacity .3s ease .15s;
    -webkit-transition: opacity .3s ease .15s;
    -o-transition: opacity .3s ease .15s;
}

.overlay h4 {
    font-weight: bold;
}

.project-thumbnail:hover .overlay {
    opacity: 1;
}

.project-thumbnail img {
    opacity: 1;
    transition: opacity .3s ease .15s;
    -moz-transition: opacity .3s ease .15s;
    -webkit-transition: opacity .3s ease .15s;
    -o-transition: opacity .3s ease .15s;
}

.project-thumbnail:hover img {
    opacity: 0.2;
}