#hero {
    background: url(../images/bg-2-overlay.jpg);
    background-repeat: no-repeat;
    color: white;
    padding: 16rem 0 16rem;
}

#about-me {
    padding: 8rem 0 8rem;
    text-align: center;
}

#portfolio {
    padding: 6rem 0 6rem;
    background-color: #eee;
}

#testimonials {
    padding: 6rem 0 6rem;
}

#contact {
    padding: 6rem 0 6rem;
    background-color: #eee;
}

footer {
    padding: 2rem 0 2rem;
    background-color: #4b494f;
    color: #999;
    text-align: center;
}

footer ul {
    margin-bottom: 10px;
}

footer li {
    list-style: none;
    display: inline;
    margin: 0 10px 0 10px;
}

footer li i {
    color: #999;
}

.card {
    border: 1px solid #eee;
    border-radius: 5px;
}

.headshot1 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6050.JPG);
    background-repeat: no-repeat;
    background-position: 53% 40%;
    background-size: 250% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.headshot2 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6063.JPG);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 180% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.headshot3 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6065.JPG);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 120% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.headshot4 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6068.JPG);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.headshot5 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6106.JPG);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 100% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.headshot6 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6109.JPG);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 100% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.headshot7 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6120.JPG);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 100% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.headshot8 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6046.JPG);
    background-repeat: no-repeat;
    background-position: 65% 40%;
    background-size: 250% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.headshot9 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6052.JPG);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 100% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}

.headshot10 {
    display: inline-block;
    background-color: #000;
    border: 6px solid #E75344;
    background-image: url(../images/headshots/DSC_6056.JPG);
    background-repeat: no-repeat;
    background-position: 30% 20%;
    background-size: 180% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}