html {
    min-height: 100%;
}

body {
    background: linear-gradient(#43B7E3, #2081C3);
    color: #fff;
    font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
}

/* Layout */

.container {
    margin: auto;
    max-width: 800px;
}

.flex-grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
}

.col {
    flex: 1;
    text-align: center;
}

.vertical-align-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Element Styles */

a {
    color: #033dec;
}

p {
    margin-top: 40px;
}

/* Custom Styles */

.logo img {
    width: 150px;
}

.phone-image {
    width: 400px;
}
@media (max-width: 400px) {
    .phone-image {
        width: 100%;
    }
}

.app-title {
    font-size: 50px;
}

.app-title .thick {
    font-weight: 900;
}

.app-title .thin {
    font-weight: 100;
}

.h2 {
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 40px;
}
