<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="project">

  <header>
    <div class="container">
      <div class="one column">
        <a href="/index.html">
          <img class="headshot-mini u-max-full-width" src="../images/headshots/joshfreed1.jpg">
        </a>
      </div>
      <div class="ten columns">
        <a href="../index.html">
          <h5>Josh Freed</h5>
        </a>
      </div>
    </div>
  </header>

  {{ content }}

  {% include foot.html %}

</body>
</html>
